.hero {
  margin-top: 99.5px;
}

.container {
  width: 1106px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 540px 1fr;
  gap: 26px;
}

@media (max-width: 1440px) {
  .container {
    width: 768px;
  }
  .grid {
    grid-template-columns: 311px 1fr;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 311px;
  }
  .grid {
    display: flex;
    flex-direction: column-reverse;
    place-items: center;
  }
}

.heroDescription {
  margin-top: 79.5px;
}

.heroDescription > h1 {
  font-size: 48px;
  line-height: 52px;
  font-weight: 500;
  letter-spacing: -0.15px;
}

.heroDescription > p {
  margin-top: 24px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  opacity: 50%;
}

.heroDescription > .buttonContainer {
  display: flex;
  gap: 16px;
}

.heroPicture {
  position: relative;
}

.capsuleBlue {
  position: absolute;
  top: 142.5px;
  left: 193.5px;
  height: 352px;
  width: 1000px;
  background: #5267df;
  border-radius: 316.5px;
  z-index: -10;
}

@media (max-width: 1024px) {
  .heroDescription {
    margin-top: 80px;
    text-align: center;
  }
  .heroDescription > h1 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    letter-spacing: -0.09px;
  }

  .heroDescription > p {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 25px;
  }

  .heroDescription > .buttonContainer {
    width: 100%;
    gap: 14px;
  }

  .heroPicture > img {
    width: 313px;
  }

  .capsuleBlue {
    height: 203px;
    width: 577px;
    top: 52px;
    left: 39px;
  }
}
