.button {
  color: white;
  background: #fa5959;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 8px 8px -4px rgba(73, 93, 207, 0.2);
}

.button:hover {
  cursor: pointer;
  color: #fa5959;
  background: white;
  outline: 2px solid #fa5959;
}
